{% extends "layout.njk" %}

{% block head %}
    <title> Sobre - Wallison Silva</title>
{% endblock %}

{% block content %}

    <div class="apre">
        <img src="/imagens/55070969.jpg" alt="Innovation">
        <h1>Wallison Da Silva Lima</h1>
        <h2>Programador Junior</h2>
        <p>Programador junior em JavaScript, com domínio em Reackt e Reackt Natine, e desenvolvimento Web.</p>
    </div>

    <div id="link-footer" class="links">
        <a href="https://www.facebook.com/InnovationMoveisPlanejados/" target="_blanck">Github</a>
        <a href="https://www.instagram.com/innovationmoveismadeira/?hl=pt-br" target="_blanck">Instagram</a>
        <a href="https://www.instagram.com/innovationmoveismadeira/?hl=pt-br" target="_blanck">Linkedin</a>


    </div>

{% endblock %}

