{% extends "layout.njk" %}

{% block head %}
    <title> Cursos - Wallison Silva</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="apre">
            <h1>Vídeos</h1>
        </div>

        <section class="cards">

            <div class="card" id="1D5tO3OECv8">
                <div class="card_image_container">
                    <img src="https://img.youtube.com/vi/1D5tO3OECv8/maxresdefault.jpg" alt="Servidor Sniper Bf4 (OdiN)">
                </div>

                <div class="card_content">
                    <p>Hs SRR-61 1KM | OdiN-GG</p>
                </div>

                <div class="card_info">
                    <p>4:15 min</p>
                    <p class="card_price">Free</p>
                    
                </div>
            </div>
            
            <div class="card" id="KfI6JDsf318">
                <div class="card_image_container">
                    <img src="https://img.youtube.com/vi/KfI6JDsf318/maxresdefault.jpg" alt="Treino x12 OdiN vs BFRS">
                </div>

                <div class="card_content">
                    <p></p>Treino x12 OdiN vs BFRS</p>
                </div>

                <div class="card_info">
                    <p>6:32 min</p>
                    <p class="card_price">Free</p>
                    
                </div>
            </div>

            <div class="card" id="7JPtSQaPrgg">
                <div class="card_image_container">
                    <img src="https://img.youtube.com/vi/7JPtSQaPrgg/maxresdefault.jpg" alt="Treino x12 OdiN vs BFRS">
                </div>

                <div class="card_content">
                    <p>Treino x12 OdiN vs BFRS</p>
                </div>

                <div class="card_info">
                    <p>14:42 min</p>
                    <p class="card_price">Free</p>
                    
                </div>
            </div>

            <div class="card" id="O5C_8A9DWZI">
                <div class="card_image_container">
                    <img src="https://img.youtube.com/vi/O5C_8A9DWZI/maxresdefault.jpg" alt="Treino x12 OdiN vs CABR">
                </div>

                <div class="card_content">
                    <p>Treino x12 OdiN vs CABR</p>
                </div>

                <div class="card_info">
                    <p>11:27 min</p>
                    <p class="card_price">Free</p>
                    
                </div>
            </div>

            <div class="card" id="B18PRwmlk1U">
                <div class="card_image_container">
                    <img src="https://img.youtube.com/vi/B18PRwmlk1U/maxresdefault.jpg" alt="Top kills BF4 | OdiN-GG">
                </div>

                <div class="card_content">
                    <p>Top kills BF4 | OdiN-GG</p>
                </div>

                <div class="card_info">
                    <p>1:06</p>
                    <p class="card_price">Free</p>
                    
                </div>
            </div>

            <div class="card" ID="d5ALuk8odhM">
                <div class="card_image_container">
                    <img src="https://img.youtube.com/vi/d5ALuk8odhM/maxresdefault.jpg" alt="#BF1​-Aaaarnarujuna Vrajisk Snaypera Ao Vivo">
                </div>

                <div class="card_content">
                    <p>#BF1​-Aaaarnarujuna Vrajisk Snaypera Ao Vivo</p>
                </div>

                <div class="card_info">
                    <p>24:26 min</p>
                    <p class="card_price">Free</p>
                    
                </div>
            </div>

        </section>

        <div class="modal-overlay">
            <div class="modal">
                <div class="close-modal">
                    <i class="material-icons">cancel_presentation</i>
                </div>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>

        </div>

        <script src="scripts.js"></script>

{% endblock %}