<!DOCTYPE html>
<html lang="pt-BR">
<head>

    {% block head %}
        <title>Desafio 2-1</title>
    {% endblock %}

        <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/courses" >Cursos</a>

        </div>
    </header>

    {% block content %}

    {% endblock %}
    
</body>
</html>