{% extends "layout.njk" %}

{% block head %}
    <title> Erro - Wallison Silva</title>
{% endblock %}

{% block content %}

<div class="erro">
    
   <img src="https://community.umbler.com/br/uploads/default/original/1X/e225e2d8163a961951366f3cc602b8d9b1df3f74.png" alt="">
    
</div>

{% endblock %}